* {
	font-family: 'Russo One', sans-serif;
}

body {
	background-image: url("http://weknowyourdreams.com/images/space/space-03.jpg");
}

.charIcon {
	overflow: hidden;
	height: 100px;
	width: 100px;
	float:left;
	border: 2px solid red;
}

.panel-default {
	overflow: hidden;
	height: 500px;

}

.panel-heading {
	text-align: center;
}

.panel-body {
	text-align: center;
}

#playerProg {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#playerBar {
    position: absolute;
    height: 100%;
    background-color: green;
}

#aiProg {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#aiBar {
    position: absolute;
    height: 100%;
    background-color: red;
}